/*orange #F15025*/

/*black #353531*/

/*navy blue #213D42*/

/*grey #CED0CE*/

/*Whitesmoke*/

body {
  font-family: "Indie Flower", cursive;
}

header {
  height: 100vh;
  background: url(../img/header2.jpeg) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-center {
  height: 100vh;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-underline {
  width: 300px;
  border: 3px solid #F15025;
  margin: 0 auto 20px auto;
}

.banner-center a {
  font-size: 30px;
  width: 300px;
  margin: 0 auto;
  display: inline-block;
  border: 3px solid whitesmoke;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 20px;
}

.banner-center a:hover,
.banner a:focus {
  color: #F15025;
  background-color: whitesmoke;
}
/*end of banner*/

/*end of title*/
.title {
  margin: 20px 0;
}

.title-underline {
  width: 150px;
  border: 3px solid #F15025;
  margin: 0px auto 10px auto;
}
/*end of skills section*/
#skills {
  padding: 40px;
  color: #2D3142;
  margin-bottom: 10px;
}

#skills .fa {
  font-size: 100px;
  margin-bottom: 10px;
}

#skills a {
  margin-bottom: 20px;
  background-color: #F15025;
  color: whitesmoke;
  font-size: 20px;
}

#skills a:hover {
  background-color: #CED0CE;
}